.content-body {
    padding-top: 5em;
}

.landing-title {
    margin: auto;
    padding: 16px;
    text-align: center;
    background-color:rgb(207, 218, 228);
}

.example-spacer {
    flex: 1 1 auto;
}

.sign-in-button {
    padding: 1.25em;
}